body{
	font-family:arial;
}
#controls{
  position:fixed;
  right:10px;
}
#transactions tr:nth-child(2n+1) td{
  background-color:#DDFFDD;
}
tr.picked td{
  font-weight:bold;
}
#transactions tr.picked td:first-child{
  background-color:gray;
  color:white;
}
#transactions{
  float:left;
}
td{
  font-size:x-small;
}
.num{
  text-align:right;
}
#popup{
   background-color:yellow;
   border:solid thin black;
   padding: 1ex;
   border-radius:1ex;
   position:absolute;
}
